@font-face {
  font-family: "GothicA1";
  src: url("/GothicA1-Bold.ttf") format("truetype");
}

.feature-auth-container {
  background-color: #ffffff;
  text-align: center;
}

.feature-auth-header {
  background-color: #6d9bd3;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  height: 50px;
  font-size: 25px;
}

.feature-auth-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin: 30px 0 20px;
}

.feature-auth-box {
  border: 3px solid #52a7f9;
  border-radius: 5px;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 40px 20px;
}

.feature-auth-left {
  flex: 1;
  padding: 0 20px;
}

.feature-auth-input-group {
  text-align: left;
  margin-bottom: 15px;
}

/* .feature-auth-input-group label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
} */

.feature-auth-input-group input {
  width: 100%;
  height: 40px;
  font-size: 16px;
  padding: 0 10px;
  border: 1px solid #ccc;
}

.feature-auth-login-btn {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  background-color: #52a7f9;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.feature-auth-social {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.feature-auth-social button {
  flex: 1;
  height: 40px;
  background-color: #13c4c4;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
}

.feature-auth-divider {
  width: 1px;
  background-color: #ccc;
  margin: 0 20px;
}

.feature-auth-right {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.feature-auth-register-btn {
  width: 280px;
  height: 140px;
  font-size: 24px;
  background-color: #52a7f9;
  color: white;
  border: none;
  border-radius: 40px;
  font-weight: bold;
  cursor: pointer;
}

.feature-auth-footer {
  background-color: #d6f1fd;
  margin-top: 30px;
  padding: 20px 40px;
  font-size: 15px;
  text-align: left;
  line-height: 2.2;
  color: #444;
}

.feature-auth-footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
