@font-face {
  font-family: "GothicA1";
  src: url("/GothicA1-Bold.ttf") format("truetype");
}

.signup-wrapper {
  min-height: 100vh;
  max-height: 100vh; /* 추가 */
  overflow-y: auto; /* 스크롤 허용 */
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.signup-container {
  background: white;
  padding: 40px;
  width: 700px;
  border-radius: 16px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.signup-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 16px;
}

.signup-container label {
  font-weight: 500;
  margin-bottom: 1px;
}

.signup-container input[type="text"],
.signup-container input[type="password"],
.signup-container input[type="email"] {
  padding: 13px;
  border: 2px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  width: 500px;
}

.email-verify-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.email-section,
.verify-section {
  display: flex;
  gap: 20px;
  margin-top: 8px;
}

.email-section input,
.verify-section input {
  flex: 1;
}

.btn {
  background: linear-gradient(to right, #3a7ccc, #4385d5);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px 16px;
  cursor: pointer;
  font-weight: bold;
  width: 100px;
  font-size: 16px;
}

.signup-btn {
  background: linear-gradient(to right, #3a7ccc, #4385d5);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 14px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 12px;
  margin-bottom: 90px;
  cursor: pointer;
}

.error-message {
  color: red;
  font-size: 13px;
  margin-top: 5px;
}

.success-message {
  color: green;
  font-size: 13px;
  margin-top: 5px;
}
